<div class="container-fluid home-container">
    <h1 class="text-center py-3">TO DO LIST</h1>
    <div class="col-12">
        <form action="" class="d-flex justify-content-center">
           <div class="d-flex todo-input col-4">
            <input type="text" class="form-control" name="todo" placeholder="Add to do here....">
            <button class="btn btn-danger px-5 add-btn">ADD</button>
           </div>
        </form>
        <p class="text-center py-2">Your to do's....</p>
        <div class="todo-container d-flex justify-content-center flex-wrap gap-md-4 gap-3 pt-4">
           <div class="todo-items">dfghksjhe</div>
           <div class="todo-items">erfjkuhlkfd</div>
           <div class="todo-items">rfvgdhknjkfdjh</div>
        </div>
        <!-- <div class="empty-todo text-center py-3">
            <img src="/nodata-img.png" class="img-fluid" alt="">
            <p>  You have not add any to do.</p>
        </div> -->
    </div>
</div>
