.home-container{
    height: 100vh;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    .add-btn{
        margin-left: -4px;
        border: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-weight: 700;
    }
    .todo-input{
        .form-control{
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border: none;
            &:focus{
                box-shadow: none;
            }
        }
    }
    .todo-container{
        max-height: 390px;
        overflow-y: scroll;
        scrollbar-width: none;
        .todo-items{
            width: 260px;
            height: 140px;
            border-radius: 5px;
            position: relative;
         
            background-color:cadetblue;
            display: flex;
            justify-content: center;
            align-items: center;
            input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                width: 16px;
                height: 16px;
                border-radius: 2px;
                position: relative;
                cursor: pointer;
                outline: none;
                background-color: white;
              }
            
              
              input[type="checkbox"]:checked {
                background-color: rgb(255, 255, 255);
                border-color: rgb(255, 255, 255);
              }
            
             
              input[type="checkbox"]:checked::after {
                content: "\2713";
                color: black;
                font-size: 14px;
                position: absolute;
                top: -2px;
                left: 3px;
                font-weight: 900;
              }
            .trash-btn{
                position: absolute;
                top: 0;
                right: 0;
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
    .empty-todo{
        img{
            width: 150px;
            height: 150px;
        }
    }
}
.text-straick{
    text-decoration: line-through !important;
}
.btn{
    &:focus{
        box-shadow: none;
    }
}