
<div class="container-fluid login-container d-flex justify-content-center align-items-center">
    <div class="login p-4">
        <form action="" class="d-flex flex-column gap-3">
            <h1 class="text-center">Login</h1>
            <div>
                <label for="email" class="form-lable">Email</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div>
                <label for="password" class="form-lable">Password</label>
                <input type="text" name="password" id="password" class="form-control">
            </div>
            <p>don't have an account ? <a href="">Register</a></p>
            <button class="btn login-btn">Submit</button>
        </form>
    </div>
</div>

